:root {
  --nat-navbar-bg: #DCE7E2;
  --nat-navbar-bg-color: #DCE7E2;
  --nat-navbar-bg-rgb: 220, 231, 226;
  --nat-navbar-text-color: #00684A;
}

html,
body {
  --bs-light: var(--nat-navbar-bg);
  --bs-dark-rgb: 236, 236, 236;
  --bs-light-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page {
  background: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  color: #8a3d07;
  display: flex;
  flex-direction: column;
  background-attachment: scroll;
}

#landing-page {
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
}
#landing-page h1 {
  color: #ff7c01;
  font-size: 3.3rem;
  font-weight: 600;
}
#landing-page h3 {
  color: #ff7c01;
}

.landingcontainer {
  background-color: rgba(255, 255, 255, 0.712);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.landingbutton {
  background-color: #2b6555 !important;
  color: #FFF !important;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

#allergy-banner {
  background: #DCE7E2;
  color: #00684A;
}

#allergy-form {
  background: #FFF7E6;
  color: #de6b00;
}

#grindz-block {
  background: #DCE7E2;
  color: #00684A;
  border-radius: 10px;
}

#grindz-block button {
  background: #FFF7E6;
  color: #de6b00;
  border: 1px solid #de6b00;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 0px;
  margin-bottom: 15px;
}

#grindz-block hr {
  height: 3px;
  background-color: #00684A; /* same as the text color for consistency */
  border: none;
}

#grindz-block a {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

#mood-block {
  min-height: 400px;
  border-radius: 10px;
}

#vegetarian-vibes {
  background: #BFD0C9;
  color: #00684A;
}

#vegetarian-vibes-card-body {
  background: #DCE7E2;
  color: #00684A;
}

#signin-page button, #change-password-page button, #signup-page button, #signout-page button, #signout-page a {
  background-color: #2b6555 !important;
  color: #FFF !important;
  border: white !important;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

#signin-page .card-footer, #change-password-page .card-footer, #signup-page .card-footer {
  background: #BFD0C9;
}

#signin-page .card-body, #change-password-page .card-body, #signup-page .card-body {
  background: #DCE7E2;
}

#signin-page .card, #change-password-page .card, #signup-page .card {
  background: #DCE7E2;
}

#signin-page a, #change-password-page a, #signup-page a {
  color: #00684A;
  text-decoration: underline;
}

#login {
  background: #DCE7E2;
  border-radius: 10px;
  padding-bottom: 50px;
}

#signin-page, #change-password-page, #signup-page, #signout-page {
  padding: 20px;
  background: white;
  color: #00684A;
  min-height: 75%;
}
