:root {
  --nat-navbar-bg: #DCE7E2;
  --nat-navbar-bg-color: #DCE7E2;
  --nat-navbar-bg-rgb: 220, 231, 226;
  --nat-navbar-text-color: #00684A;
}

html,
body {
  --bs-light: var(--nat-navbar-bg);
  --bs-dark-rgb: 236, 236, 236;
  --bs-light-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page {
  background: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #8a3d07;
}

#landing-page {
  max-width: 700px;
  margin: 0 auto;
}
#landing-page h1 {
  color: #ff7c01;
}
#landing-page h3 {
  color: #de6b00;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

#allergy-banner {
  background: #DCE7E2;
  color: #00684A;
}

#allergy-form {
  background: #FFF7E6;
  color: #de6b00;
}

#vegetarian-vibes {
  background: #BFD0C9;
  color: #00684A;
}

#vegetarian-vibes-card-body {
  background: #DCE7E2;
  color: #00684A;
}