:root {
  --nat-navbar-bg: #DCE7E2;
  --nat-navbar-bg-color: #DCE7E2;
  --nat-navbar-bg-rgb: 220, 231, 226;
  --nat-navbar-text-color: #00684A;
}

html,
body {
  --bs-light: var(--nat-navbar-bg);
  --bs-dark-rgb: 236, 236, 236;
  --bs-light-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page {
  background: #BFD0C9;
  color: #8a3d07;
  display: flex;
  flex-direction: column;
}

#landing-page {
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
}

#welcome {
  background: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin: 0;
  padding: 50px 0;
  position: relative;
}

#landing-page h1 {
  color: #ff7c01;
  font-size: 3.3rem;
  font-weight: 600;
}
#landing-page h2 {
  color: #ff7c01;
  font-size: 2.3rem;
  padding-bottom: 10px;
}

.landingcontainer {
  background-color: rgba(255, 255, 255, 0.778);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.landingbutton {
  background-color: #2b6555 !important;
  color: #FFF !important;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

#landing-page a {
  color: #2b6555;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

#allergy-banner {
  background: #DCE7E2;
  color: #00684A;
}

#allergy-form {
  background: #FFF7E6;
  color: #de6b00;
  border-radius: 10px;
  padding-bottom: 50px;
}

#grindz-block {
  background: #DCE7E2;
  color: #00684A;
  border-radius: 10px;
}

#grindz-block button {
  background-color: #2b6555 !important;
  color: #FFF !important;
  border: white !important;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 15px;
}

#grindz-block hr {
  height: 3px;
  background-color: #00684A; /* same as the text color for consistency */
  border: none;
}

#break {
  height: 1px !important;
}

#grindz-block a {
  color: inherit;
  text-decoration: underline;
}

#mood-block {
  min-height: 500px;
  border-radius: 10px;
}

.equal-height-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

#mini-moodz {
  color: #00684A;
}

#mini-moodz .card-body {
  background: white;
  color: #00684A;
  border-radius: 10px;
  border-color: #f1faf6;
}


#vegetarian-vibes {
  background: linear-gradient(to right, #A8D08D, #D4F1D7); /* Soft mint green to light pastel green */
  color: #3D6B3C; /* Darker sage green for readability */
}

#quick-bento-run {
  background: linear-gradient(to right, #FFF9E5, #F3E4B1); /* Light yellow to soft cream */
  color: #E5823E; /* Soft orange for readability */
}

#grindz-for-gains {
  background: linear-gradient(to right, #C48E56, #F1E3B4); /* Pastel meat brown to soft gold */
  color: #5A3E1D; /* Soft, dark brown text for contrast */
}

#satisfying-sips {
  background: linear-gradient(to right, #B3D9FF, #D0CFFF); /* Baby blue to light periwinkle */
  color: #3A4F6B; /* Slate blue text for contrast */
}
#sugar-rush {
  background: linear-gradient(to right, #F8BBD0, #FFF9C4);
  color: #FF6347;
}

#vendor-item-form button, #preference-page button, #signin-page button, #change-password-page button, #signup-page button, #signout-page button, #signout-page a {
  background-color: #2b6555 !important;
  color: #FFF !important;
  border: white !important;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

#preference-page .card-footer, #signin-page .card-footer, #change-password-page .card-footer, #signup-page .card-footer {
  background: #BFD0C9;
}

#vendor-item-form .card-body, #preference-page .card-body, #signin-page .card-body, #change-password-page .card-body, #signup-page .card-body {
  background: #DCE7E2;
}

#vendor-item-form .card, #preference-page .card, #signin-page .card, #change-password-page .card, #signup-page .card {
  background: #DCE7E2;
  min-width: 400px;
}

#vendor-item-form a, #preference-page a, #signin-page a, #change-password-page a, #signup-page a {
  color: #00684A;
  text-decoration: underline;
}

#login, #allergy-banner {
  background: #DCE7E2;
  border-radius: 10px;
  padding-bottom: 50px;
}

#vendor-item-form, #preference-page, #signin-page, #change-password-page, #signup-page, #signout-page {
  padding: 20px;
  background: white;
  color: #00684A;
  min-height: 75%;
}

#vendor-item-form .form-label, #preference-page .form-label, #preference-page .form-label, #signin-page .form-label, #change-password-page .form-label, #signup-page .form-label {
  color: #00684A;
  font-weight: bold;
}

/* #preference-page .form-check label {
  color: #00684A;
} */

.form-check-input:checked {
  background-color: #00684A !important;
  border-color: #00684A !important;
}

.planner-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.planner-content {
  flex: 1;
}

.custom-dropdown-menu .dropdown-item {
  color: #2b6555 !important;
}